@import "design-system/palette";

@import "./typography";

@mixin button-standard {
  display: inline-block;
  margin: 32px auto 0 0;

  @include body-s;

  @include breakpoint(mobile) {
    margin-top: 24px;
  }
}

@mixin anchor-standard {
  display: inline-block;
  margin: 32px auto 0 0;

  @include body-s;

  @include breakpoint(mobile) {
    margin-top: 24px;
  }
}

@mixin button-primary-icon {
  display: block;

  position: absolute;

  top: 15px;
  left: 15px;

  width: 24px;
  height: 24px;

  @include breakpoint(mobile) {
    width: 22px;
    height: 22px;
  }
}

@mixin button-primary-action {
  outline-offset: 2px;

  @include body-s;

  // stylelint-disable-next-line no-duplicate-selectors
  & {
    @include proxima-nova-bold;
  }

  // stylelint-disable-next-line no-duplicate-selectors
  & {
    position: relative;

    display: block;
    text-align: center;

    color: $white;
    background-color: $action-standard;

    border: 2px solid $action-standard;
    border-radius: 4px;

    padding: 8px 16px;
  }

  &[disabled] {
    background-color: $action-disabled;

    border: 2px solid $action-disabled;
  }

  span {
    display: block;
  }

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    color: $standard-text;
    background-color: $outline;

    border: 2px solid $outline;

    text-decoration: underline;
    outline-color: $standard-text;
  }
}

@mixin button-secondary-icon {
  display: block;

  position: absolute;

  top: 15px;
  left: 15px;

  width: 24px;
  height: 24px;

  @include breakpoint(mobile) {
    width: 22px;
    height: 22px;
  }
}

@mixin button-secondary-action {
  outline-offset: 2px;

  @include body-s;

  // stylelint-disable-next-line no-duplicate-selectors
  & {
    @include proxima-nova-bold;
  }

  // stylelint-disable-next-line no-duplicate-selectors
  & {
    position: relative;

    display: block;
    text-align: center;

    color: $action-standard;
    background-color: transparent;

    border: 2px solid $action-standard;
    border-radius: 4px;

    padding: 8px 16px;
  }

  &[disabled] {
    background-color: $action-disabled;

    border: 2px solid $action-disabled;
  }

  span {
    display: block;
  }

  &:hover {
    text-decoration: underline;
    color: $action-standard;
  }

  &:focus {
    background-color: $action-standard;
    color: $white;

    text-decoration: underline;
    outline-color: $outline;
  }
}

@mixin anchor-primary-icon {
  display: block;

  position: absolute;

  top: 15px;
  left: 15px;

  width: 24px;
  height: 24px;

  @include breakpoint(mobile) {
    width: 22px;
    height: 22px;
  }
}

@mixin anchor-primary-action {
  outline-offset: 2px;
  outline-width: 1px;
  outline-style: auto;

  @include body-s;

  // stylelint-disable-next-line no-duplicate-selectors
  & {
    @include proxima-nova-bold;
  }

  // stylelint-disable-next-line no-duplicate-selectors
  & {
    position: relative;

    display: block;
    text-align: center;

    color: $white;
    background-color: $action-standard;

    border: 2px solid $action-standard;
    border-radius: 4px;

    padding: 8px 16px;
  }

  &.disabled {
    background-color: $action-disabled;

    border: 2px solid $action-disabled;
  }

  span {
    display: block;
  }

  &:link {
    text-decoration: none;

    // stylelint-disable-next-line no-duplicate-selectors
    & {
      color: $white;
    }
  }

  &:hover {
    text-decoration: underline;

    // stylelint-disable-next-line no-duplicate-selectors
    & {
      color: $white;
    }
  }

  &:visited {
    color: $white;
  }

  &:focus,
  &:active {
    background-color: $white;
    color: $action-standard;
  }

  &:focus {
    text-decoration: underline;

    // stylelint-disable-next-line no-duplicate-selectors
    & {
      outline-color: $link-outline;
    }
  }
}

@mixin anchor-secondary-icon {
  display: block;

  position: absolute;

  top: 15px;
  left: 15px;

  width: 24px;
  height: 24px;

  @include breakpoint(mobile) {
    width: 22px;
    height: 22px;
  }
}

@mixin anchor-secondary-action {
  outline-offset: 2px;
  outline-width: 1px;
  outline-style: auto;

  @include body-s;

  // stylelint-disable-next-line no-duplicate-selectors
  & {
    @include proxima-nova-bold;
  }

  // stylelint-disable-next-line no-duplicate-selectors
  & {
    position: relative;

    display: block;
    text-align: center;

    color: $action-standard;
    background-color: transparent;

    border: 2px solid $action-standard;
    border-radius: 4px;

    padding: 8px 16px;
  }

  &.disabled {
    background-color: $action-disabled;

    border: 2px solid $action-disabled;
  }

  span {
    display: block;
  }

  &:link {
    text-decoration: none;

    // stylelint-disable-next-line no-duplicate-selectors
    & {
      color: $action-standard;
    }
  }

  &:hover {
    text-decoration: underline;

    // stylelint-disable-next-line no-duplicate-selectors
    & {
      color: $action-standard;
    }
  }

  &:visited {
    color: $action-standard;
  }

  &:focus,
  &:active {
    background-color: $action-standard;
    color: $white;
  }

  &:focus {
    text-decoration: underline;

    // stylelint-disable-next-line no-duplicate-selectors
    & {
      outline-color: $link-outline;
    }
  }
}

@mixin button-primary {
  @include button-standard;

  button {
    @include button-primary-action;
  }
}

@mixin button-secondary {
  @include button-standard;

  button {
    @include button-secondary-action;
  }
}

@mixin anchor-primary {
  @include anchor-standard;

  a {
    @include anchor-primary-action;
  }
}

@mixin anchor-secondary {
  @include anchor-standard;

  a {
    @include anchor-secondary-action;
  }
}

%button-primary {
  @include button-primary;
}

%button-secondary {
  @include button-secondary;
}

%anchor-primary {
  @include anchor-primary;
}

%anchor-secondary {
  @include anchor-secondary;
}
