@import "design-system/palette";

@import "./typography";

@mixin button-standard {
  display: inline-block;
  margin: 32px auto 0 0;

  @include body-s;

  @include breakpoint(mobile) {
    margin-top: 24px;
  }
}

@mixin anchor-standard {
  display: inline-block;
  margin: 32px auto 0 0;

  @include body-s;

  @include breakpoint(mobile) {
    margin-top: 24px;
  }
}

@mixin button-primary-icon {
  display: block;

  position: absolute;

  top: 15px;
  left: 15px;

  width: 24px;
  height: 24px;

  @include breakpoint (mobile) {
    width: 22px;
    height: 22px;
  }
}

@mixin button-primary-action {
  outline-offset: 2px;

  @include body-s;
  @include proxima-nova-bold;

  position: relative;

  display: block;
  // min-width: 192px; // 224 - (16 + 16)
  text-align: center;

  color: $white;
  background-color: $action-standard;

  border: 2px solid $action-standard;
  border-radius: 4px;

  padding: 8px 16px;

  &[disabled] {
    background-color: $action-disabled;

    border: 2px solid $action-disabled;
  }

  span { display: block; }

  &:hover {
    text-decoration: underline;
    color: $white;
  }

  &:focus {
    background-color: $white;
    color: $action-standard;

    text-decoration: underline;
    outline-color: $outline;
  }
}

@mixin button-secondary-icon {
  display: block;

  position: absolute;

  top: 15px;
  left: 15px;

  width: 24px;
  height: 24px;

  @include breakpoint (mobile) {
    width: 22px;
    height: 22px;
  }
}

@mixin button-secondary-action {
  outline-offset: 2px;

  @include body-s;
  @include proxima-nova-bold;

  position: relative;

  display: block;
  // min-width: 192px; // 224 - (16 + 16)
  text-align: center;

  color: $action-standard;
  background-color: transparent;

  border: 2px solid $action-standard;
  border-radius: 4px;

  padding: 8px 16px;

  &[disabled] {
    background-color: $action-disabled;

    border: 2px solid $action-disabled;
  }

  span { display: block; }

  &:hover {
    text-decoration: underline;
    color: $action-standard;
  }

  &:focus {
    background-color: $action-standard;
    color: $white;

    text-decoration: underline;
    outline-color: $outline;
  }
}

@mixin anchor-primary-icon {
  display: block;

  position: absolute;

  top: 15px;
  left: 15px;

  width: 24px;
  height: 24px;

  @include breakpoint (mobile) {
    width: 22px;
    height: 22px;
  }
}

@mixin anchor-primary-action {
  outline-offset: 2px;

  @include body-s;
  @include proxima-nova-bold;

  position: relative;

  display: block;
  // min-width: 192px; // 224 - (16 + 16)
  text-align: center;

  color: $white;
  background-color: $action-standard;

  border: 2px solid $action-standard;
  border-radius: 4px;

  padding: 8px 16px;

  &.disabled {
    background-color: $action-disabled;

    border: 2px solid $action-disabled;
  }

  span { display: block; }

  &:link {
    text-decoration: none;
    color: $white;
  }

  &:hover {
    text-decoration: underline;
    color: $white;
  }

  &:visited {
    color: $white;
  }

  &:focus,
  &:active  {
    background-color: $white;
    color: $action-standard;
  }

  &:focus  {
    text-decoration: underline;
    outline-color: $link-outline;
  }
}

@mixin anchor-secondary-icon {
  display: block;

  position: absolute;

  top: 15px;
  left: 15px;

  width: 24px;
  height: 24px;

  @include breakpoint (mobile) {
    width: 22px;
    height: 22px;
  }
}

@mixin anchor-secondary-action {
  outline-offset: 2px;

  @include body-s;
  @include proxima-nova-bold;

  position: relative;

  display: block;
  // min-width: 192px; // 224 - (16 + 16)
  text-align: center;

  color: $action-standard;
  background-color: transparent;

  border: 2px solid $action-standard;
  border-radius: 4px;

  padding: 8px 16px;

  &.disabled {
    background-color: $action-disabled;

    border: 2px solid $action-disabled;
  }

  span { display: block; }

  &:link {
    text-decoration: none;
    color: $action-standard;
  }

  &:hover {
    text-decoration: underline;
    color: $action-standard;
  }

  &:visited {
    color: $action-standard;
  }

  &:focus,
  &:active  {
    background-color: $action-standard;
    color: $white;
  }

  &:focus  {
    text-decoration: underline;
    outline-color: $link-outline;
  }
}

@mixin button-primary {
  @include button-standard;

  button {
    @include button-primary-action;
  }
}

@mixin button-secondary {
  @include button-standard;

  button {
    @include button-secondary-action;
  }
}

@mixin anchor-primary {
  @include anchor-standard;

  a {
    @include anchor-primary-action;
  }
}

@mixin anchor-secondary {
  @include anchor-standard;

  a {
    @include anchor-secondary-action;
  }
}

%button-primary { @include button-primary; }

%button-secondary { @include button-secondary; }

%anchor-primary { @include anchor-primary; }

%anchor-secondary { @include anchor-secondary; }

@mixin anchor {
  @include proxima-nova-regular;
  text-decoration: underline;
  color: $link;

  &:link {
    text-decoration: underline;
    color: $link;
  }

  &:hover {
    color: $link-hover;
  }

  &:visited {
    color: $link-visited;
  }

  &:focus,
  &:active {
    background-color: $link-focus; // $link-background;
    color: $link-focus;
  }

  &:focus {
    outline-color: $link-outline;
  }
}

%anchor { @include anchor; }
