%proxima-nova-extrabold {
  font-family: proxima-nova, sans-serif;
  font-weight: 800;
  font-style: normal;
}

%proxima-nova-extrabold-italic {
  font-family: proxima-nova, sans-serif;
  font-weight: 800;
  font-style: italic;
}

%proxima-nova-bold {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
}

%proxima-nova-bold-italic {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: italic;
}

%proxima-nova-regular {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
}

%proxima-nova-regular-italic {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: italic;
}

@mixin proxima-nova-extrabold {
  font-family: proxima-nova, sans-serif;
  font-weight: 800;
  font-style: normal;
}

@mixin proxima-nova-extrabold-italic {
  font-family: proxima-nova, sans-serif;
  font-weight: 800;
  font-style: italic;
}

@mixin proxima-nova-bold {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
}

@mixin proxima-nova-bold-italic {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: italic;
}

@mixin proxima-nova-regular {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin proxima-nova-regular-italic {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: italic;
}
