@mixin proxima-nova-extrabold {
  font-family: proxima-nova-extrabold, sans-serif;
  font-weight: 800;
  font-style: normal;
}

@mixin proxima-nova-extrabold-italic {
  font-family: proxima-nova-extrabold, sans-serif;
  font-weight: 800;
  font-style: italic;
}

@mixin proxima-nova-bold {
  font-family: proxima-nova-bold, sans-serif;
  font-weight: 700;
  font-style: normal;
}

@mixin proxima-nova-bold-italic {
  font-family: proxima-nova-bold, sans-serif;
  font-weight: 700;
  font-style: italic;
}

@mixin proxima-nova-regular {
  font-family: proxima-nova-regular, sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin proxima-nova-regular-italic {
  font-family: proxima-nova-regular, sans-serif;
  font-weight: 400;
  font-style: italic;
}

@mixin proxima-nova-cond-regular {
  font-family: proxima-nova-cond-regular, sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin proxima-nova-cond-regular-italic {
  font-family: proxima-nova-cond-regular, sans-serif;
  font-weight: 400;
  font-style: italic;
}

@mixin proxima-nova-cond-bold {
  font-family: proxima-nova-cond-bold, sans-serif;
  font-weight: 700;
  font-style: normal;
}

@mixin proxima-nova-cond-bold-italic {
  font-family: proxima-nova-cond-bold, sans-serif;
  font-weight: 700;
  font-style: italic;
}

%proxima-nova-extrabold { @include proxima-nova-extrabold; }

%proxima-nova-extrabold-italic { @include proxima-nova-extrabold-italic; }

%proxima-nova-bold { @include proxima-nova-bold; }

%proxima-nova-bold-italic { @include proxima-nova-bold-italic; }

%proxima-nova-regular { @include proxima-nova-regular; }

%proxima-nova-regular-italic { @include proxima-nova-regular-italic; }

%proxima-nova-cond-regular { @include proxima-nova-cond-regular; }

%proxima-nova-cond-regular-italic { @include proxima-nova-cond-regular-italic; }

%proxima-nova-cond-bold { @include proxima-nova-cond-bold; }

%proxima-nova-cond-bold-italic { @include proxima-nova-cond-bold-italic; }
