@import-normalize;

%debug-text {
  @extend %proxima-nova-regular;
  font-size: 1em;
  line-height: 1em;
  font-weight: normal;
  text-transform: uppercase;
  color: $standard-text;
}

%debug {
  position: fixed;
  right: .25em;
  top: .25em;
  border: 1px dashed $standard-text;
  padding: .5em;
}

body:after {
  @extend %debug-text;
  @extend %debug;

  content: 'Default';

  @include breakpoint(desktop) {
    content: 'Desktop';
  }

  @include breakpoint(laptop) {
    content: 'Laptop';
  }

  @include breakpoint(tablet) {
    content: 'Tablet';
  }

  @include breakpoint(mobile) {
    content: 'Mobile';
  }

  @include breakpoint(large-mobile) {
    content: '(L) Mobile';
  }

  @include breakpoint(small-mobile) {
    content: '(S) Mobile';
  }
}

/*
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  body:after {
    font-family: Proxima Nova, Helvetica, Arial, sans-serif;
    font-size: 10px;
    line-height: 1em;
    font-weight: 500;
    text-transform: uppercase;
    color: $layout-edge;

    position: fixed;
    right: 1px;
    top: 1px;
    border: 1px dashed $layout-edge;
    padding: 9px;

    content: 'IE 10/11';
  }
}
*/
/*
// stylelint-disable-next-line
_:-ms-fullscreen,
:root body:after {
  @extend %debug-text;
  @extend %debug;

  content: 'IE 11';
}
*/
