@use "../../palette";
@use "../../typography";

footer {
  /**
   *  IE 11 needs an explicit instruction not to shrink
   */
  flex-shrink: 0;

  background-color: palette.$white;

  /**
   *  This element must not size below this width
   */
  min-width: 320px;
  margin: auto 0 0 0;
}
