@import "design-system/palette";
@import "design-system/typography";
@import "design-system/helpers/invisible";

@mixin check-answers {
  & > h2:first-child {
    margin-top: 0;
  }

  dl {
    display: table;
    width: 100%;
    table-layout: fixed;

    .answer {
      display: table-row;
    }

    dt,
    dd {
      display: table-cell;
      padding: .25rem 0;
      border-bottom: 2px solid $grey-1;
    }

    .answer-title {
      @include heading-s;
      width: 30%;
      padding-right: 1rem;
    }

    .answer-value {
      width: 50%;
    }

    .change-answer {
      width: 20%;
      padding-left: 1rem;
      text-align: right;

      .visually-hidden-text {
        @include invisible;
      }
    }
  }
}

%check-answers { @include check-answers; }
