@import "design-system/palette";
@import "design-system/typography";
@import "design-system/helpers/invisible";

@mixin error-summary {
  background-color: $white;
  border: .25rem solid $error-standard;
  display: block;
  padding: 1rem;
  line-height: 2rem;

  & > h2:first-child {
    margin-top: 0;
  }

  ul {
    margin-bottom: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    @include error-standard;
    display: block;
    padding: 0;
    margin: 0 0 .25rem 0;
  }

  a {
    @include error-standard;

    &:focus {
      outline: 3px solid transparent;
      text-decoration: none;
      outline-offset: 0;
      box-shadow: 0 -2px $outline, 0 4px $black;
      color: $standard-text;
      background-color: $outline;
    }
  }

  &:focus {
    outline: 3px solid $outline;
    outline-offset: 0;
    border-color: $black;
  }
}

%error-summary { @include error-summary; }
