@import "design-system/palette";
@import "design-system/typography";

@import "./cogs/radio";
@import "./cogs/checkbox";
@import "./cogs/error";

@mixin cogs {
  margin: 0 0 1rem 0;
  line-height: 1.375rem;

  &.radio { @include radio; }

  &.checkbox { @include checkbox; }

  &.error { @include error; }

  .description {
    @include secondary-text;
    display: block;
    padding: 0;
    margin: 0 0 .25rem 0;
  }

  .error-message {
    @include error-standard;
    display: block;
    padding: 0;
    margin: 0 0 .25rem 0;
  }
}

%cogs { @include cogs; }
