@import "design-system/palette";
@import "design-system/typography";

@import "./sprockets/error-summary";
@import "./sprockets/check-answers";
@import "./sprockets/table";
@import "./sprockets/error";

@mixin sprockets {
  padding: 0;
  margin: 1rem 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  line-height: 1.375rem;

  &.error-summary { @include error-summary; }

  &.check-answers { @include check-answers; }

  &.table { @include table; }

  &.fieldset {
    legend {
      @include heading-m;
      padding: 0;
      margin-top: 0
    }

    &.error { @include error; }

    .description {
      @include secondary-text;
      display: block;
      padding: 0;
      margin: 0 0 .25rem 0;
    }

    .error-message {
      @include error-standard;
      display: block;
      padding: 0;
      margin: 0 0 .25rem 0;
    }
  }

  /**
   *  Descendants
   */
  .sprocket {
    margin-bottom: 0;
  }
}

%sprockets { @include sprockets; }
