@import "design-system/helpers/hex-str";
@import "design-system/helpers/rgb-str";

$grey-1: hex-str(map(palette, grey-1, hex));
$grey-2: hex-str(map(palette, grey-2, hex));
$grey-3: hex-str(map(palette, grey-3, hex));

$black: hex-str(map(palette, black, hex));
$white: hex-str(map(palette, white, hex));
$brand: hex-str(map(palette, brand, hex));

$alert-standard: hex-str(map(palette, alert, standard, hex));
$alert-foreground: hex-str(map(palette, alert, foreground, hex));
$alert-background: hex-str(map(palette, alert, background, hex));
$alert-edge: hex-str(map(palette, alert, edge, hex));
$alert-text: hex-str(map(palette, alert, text, hex));
$alert-fill: hex-str(map(palette, alert, fill, hex));

$information-standard: hex-str(map(palette, information, standard, hex));
$information-foreground: hex-str(map(palette, information, foreground, hex));
$information-background: hex-str(map(palette, information, background, hex));
$information-edge: hex-str(map(palette, information, edge, hex));
$information-text: hex-str(map(palette, information, text, hex));
$information-fill: hex-str(map(palette, information, fill, hex));

$hello: hex-str(map(palette, hello, hex));

$pending-standard: hex-str(map(palette, pending, standard, hex));

$accepted-standard: hex-str(map(palette, accepted, standard, hex));
$accepted-triple-a: hex-str(map(palette, accepted, triple-a, hex));
$accepted-double-a: hex-str(map(palette, accepted, double-a, hex));
$accepted-single-a: hex-str(map(palette, accepted, single-a, hex));
$accepted-foreground: hex-str(map(palette, accepted, foreground, hex));
$accepted-edge: hex-str(map(palette, accepted, edge, hex));
$accepted-background: hex-str(map(palette, accepted, background, hex));

$rejected-standard: hex-str(map(palette, rejected, standard, hex));
$rejected-triple-a: hex-str(map(palette, rejected, triple-a, hex));
$rejected-double-a: hex-str(map(palette, rejected, double-a, hex));
$rejected-single-a: hex-str(map(palette, rejected, single-a, hex));
$rejected-foreground: hex-str(map(palette, rejected, foreground, hex));
$rejected-edge: hex-str(map(palette, rejected, edge, hex));
$rejected-background: hex-str(map(palette, rejected, background, hex));

$phase: hex-str(map(palette, phase, hex));
$brand: hex-str(map(palette, brand, hex));

$layout-background: hex-str(map(palette, layout, background, hex));
$layout-edge: hex-str(map(palette, layout, edge, hex));
$layout-foreground: hex-str(map(palette, layout, foreground, hex));

$action-standard: hex-str(map(palette, action, standard, hex));
$action-disabled: hex-str(map(palette, action, disabled, hex));
$action-triple-a: hex-str(map(palette, action, triple-a, hex));
$action-double-a: hex-str(map(palette, action, double-a, hex));
$action-single-a: hex-str(map(palette, action, single-a, hex));
$action-foreground: hex-str(map(palette, action, foreground, hex));
$action-edge: hex-str(map(palette, action, edge, hex));
$action-background: hex-str(map(palette, action, background, hex));

$submission-name: hex-str(map(palette, submission-name, hex));

$standard-text: hex-str(map(palette, standard-text, hex));

$link: hex-str(map(palette, link, hex));
$link-hover: hex-str(map(palette, link-hover, hex));
$link-visited: hex-str(map(palette, link-visited, hex));
$link-focus: hex-str(map(palette, link-focus, hex));
$link-background: hex-str(map(palette, link-background, hex));
$link-outline: hex-str(map(palette, link-outline, hex));
